* {
    font-family: "Tahoma";
    font-size: 20px;
    box-sizing: border-box;
}


h1 {
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    text-align: center;
    font-size: 80px;   
    color: rgb(129, 29, 129)
}

h2, h3 {
    color: rgb(1, 173, 173);
}

h4 {
    font-size: 18px;
}

.button-text {
    font-weight: 800;
    font-size: 36px;
    color: rgb(1, 173, 173);
}


.home-button {
    background-color: rgb(138, 91, 138);
    border-radius: 20px;
}

.home-img {
    border-radius: 50px;
}

.main-img {
    border-radius: 30px;
    width: 200px;
    height: 200px;
}

.main-button {
    border-radius: 10px;
    border-color: plum;
    margin: 20px;
}

.div-main {
    padding: 0px 100px;
}

#title {
    font-size: 100px;
}

.picture-card {
    border-color: rgb(138, 91, 138);
    border-style: dashed;
    border-radius: 25px;
    width: 1000px;
    padding: 10px;
    margin: auto;
}

.card {
    display: inline-block;
    margin: 10px auto
}

.recipe-heading {
    font-size: 60px
}

.recipe-img {
    margin:auto;
}

.recipe-img-card {
    margin:auto;
    width: 500px;
}

.main-recipe-div {
    border-radius: 200px;
    border-color: plum;
    border-width: 7px;
    border-style: dashed;
    padding:15px;
    width: 1000px;
    margin: auto;
}